<div class="side-content">
    <div class="gallerys">
        <a href="#" class="gallery">
            <img src="tmp/team-1.jpg" alt="">
            <div class="gallery__title">
                Сборная ОАО «РусГидро» приняла участие в турнире по мини-футболу
            </div>
        </a>
        <a href="#" class="gallery">
            <img src="tmp/team-1.jpg" alt="">
            <div class="gallery__title">
                Сборная ОАО «РусГидро» приняла участие в турнире по мини-футболу
            </div>
        </a>
        <a href="#" class="gallery">
            <img src="tmp/team-1.jpg" alt="">
            <div class="gallery__title">
                Сборная ОАО «РусГидро» приняла участие в турнире по мини-футболу
            </div>
        </a>
        <a href="#" class="gallery">
            <img src="tmp/team-1.jpg" alt="">
            <div class="gallery__title">
                Сборная ОАО «РусГидро» приняла участие в турнире по мини-футболу
            </div>
        </a>
        <a href="#" class="gallery">
            <img src="tmp/team-1.jpg" alt="">
            <div class="gallery__title">
                Сборная ОАО «РусГидро» приняла участие в турнире по мини-футболу
            </div>
        </a>
        <a href="#" class="gallery">
            <img src="tmp/team-1.jpg" alt="">
            <div class="gallery__title">
                Сборная ОАО «РусГидро» приняла участие в турнире по мини-футболу
            </div>
        </a>
    </div>
</div>