<div class="side-content">
    

    <p>Финал Кубка ТЭК по мини-футболу прошёл в эти выходные во дворце спорта Динамо в Крылатском.</p>

    <p>В отборочных матчах внутри группы команда ОАО «РусГидро» заняла четвёртое место. Таким образом, команда смогла выйти только в серебряную серию play-off (в турнире было предусмотрено две серии play-off ,золотая – для команд-лидеров и серебряная - для команд, которые набрали меньше очков в отборочном туре) в которой её ожидало три других игры. Ребята почти всухую обыграли команду Simens – 7:1, однако затем уступили Росэнергоатому - 1:2. В завершающем матче футболисты отчаянно боролись за право войти в призовую тройку, однако по ходу игры СИБЭКО сравняла счёт 2:2 и забила третий гол в ворота РусГидро на последних минутах. Наша команда смогла стать только четвёртой. На церемонии награждения футболистам вручили диплом участника и кубок.</p>

    <p>В отборочных матчах внутри группы команда ОАО «РусГидро» заняла четвёртое место. Таким образом, команда смогла выйти только в серебряную серию play-off (в турнире было предусмотрено две серии play-off ,золотая – для команд-лидеров и серебряная - для команд, которые набрали меньше очков в отборочном туре) в которой её ожидало три других игры. Ребята почти всухую обыграли команду Simens – 7:1, однако затем уступили Росэнергоатому - 1:2. В завершающем матче футболисты отчаянно боролись за право войти в призовую тройку, однако по ходу игры СИБЭКО сравняла счёт 2:2 и забила третий гол в ворота РусГидро на последних минутах. Наша команда смогла стать только четвёртой. На церемонии награждения футболистам вручили диплом участника и кубок.</p>

    <div class="news-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="tmp/news-slide.jpg" alt=""></div>
            <div class="swiper-slide"><img src="tmp/news-slide.jpg" alt=""></div>
            <div class="swiper-slide"><img src="tmp/news-slide.jpg" alt=""></div>
        </div>
        <div class="swiper-button-prev">Назад</div>
        <div class="swiper-button-next">Вперед</div>
    </div>

    <div class="content-bottom">
        <a href="#" class="content-back">К списку новостей</a>
    </div>
</div>