<div class="side">

    <div class="side-photo">
        <div class="block-top">
            <div class="block-top__title">Фото</div>
            <div class="block-top__subtitle"><a href="#">Все фотографии</a></div>
        </div>
        <img src="tmp/side-img.jpg" alt="">
    </div>
    
    <div class="side-poll">
        <div class="side-poll__title">
            Cделайте ставку,<br>
            кто выиграет<br>
            чемпионат?
        </div>

        <div class="select">
            <input type="text" placeholder="Выберите команду">
            <div class="select-list" style="display: none;">
                <div class="select-list__one">Пункт 1</div>
                <div class="select-list__one">Пункт 2</div>
                <div class="select-list__one">Пункт 3</div>
            </div>
        </div>

        <button>Проголосовать</button>
    </div>

    <div class="side-news">
        <div class="block-top">
            <div class="block-top__title">Новости</div>
            <div class="block-top__subtitle"><a href="#">Все новости</a></div>
        </div>
        <div class="side-news-list">
            <div class="side-news-one">
                <div class="side-news-one__date">23 августа</div>
                <a href="#" class="side-news-one__title">Начало отборочных матчей в группе А - «Центр»</a>
            </div>
            <div class="side-news-one">
                <div class="side-news-one__date">23 августа</div>
                <a href="#" class="side-news-one__title">Начало отборочных матчей в группе А - «Центр»</a>
            </div>
            <div class="side-news-one">
                <div class="side-news-one__date">23 августа</div>
                <a href="#" class="side-news-one__title">Начало отборочных матчей в группе А - «Центр»</a>
            </div>
        </div>
    </div>
    

    
</div>

