<div class="footer">
    <div class="wrap">
        <div class="footer-title">
            Турнир по футболу на Кубок<br>
            Председателя Правления РусГидро
        </div>
        <div class="footer-year">
            2017
        </div>

        <div class="footer-menu">
            <a class="current" href="#">главная</a>
            <a href="#">Орг. Комитет</a>
            <a href="#">Судейская команда</a>
            <a href="#">Команды</a>
            <a href="#">Новости</a>
            <a href="#">Фото</a>
            <a href="#">видео</a>
        </div>

        <div class="footer-bottom">
            <div class="footer-copy">
                2017 © Турнир по футболу на Кубок Председателя Правления ОАО «РусГидро»
            </div>
            <a href="#" class="footer-link">Положения о чемпионате</a>
        </div>

    </div>
</div>