<div class="wrap">
    <div class="head">
        <a href="#" class="head-logo">
            <img src="img/logo.png" class="head-logo__img" alt="">
            <div class="head-logo__title">
                ТУРНИР ПО ФУТБОЛУ НА КУБОК<br>
                ПРЕДСЕДАТЕЛЯ ПРАВЛЕНИЯ РУСГИДРО
            </div>
        </a>

        <div class="head__year">
            2017
        </div>

        <div class="head-menu">
            <a href="#">главная</a>
            <a href="#">Орг. Комитет</a>
            <a href="#">Судейская команда</a>
            <a href="#">Команды</a>
            <a href="#">Новости</a>
            <a href="#">Фото</a>
            <a href="#">видео</a>
        </div>
    </div>
</div>
