<div class="side-content">
    <div class="videos">
        <a href="https://www.youtube.com/watch?v=0U8PFcnIuA8" class="video">
            <div class="video__img">
                <img class="" src="http://img.youtube.com/vi/0U8PFcnIuA8/maxresdefault.jpg" alt="">
            </div>
            <div class="video__title">Финалисты турнира по футболу посетили СШГЭС</div>
        </a>
        <a href="https://www.youtube.com/watch?v=0U8PFcnIuA8" class="video">
            <div class="video__img">
                <img class="" src="http://img.youtube.com/vi/0U8PFcnIuA8/maxresdefault.jpg" alt="">
            </div>
            <div class="video__title">Финалисты турнира по футболу посетили СШГЭС</div>
        </a>
        <a href="https://www.youtube.com/watch?v=0U8PFcnIuA8" class="video">
            <div class="video__img">
                <img class="" src="http://img.youtube.com/vi/0U8PFcnIuA8/maxresdefault.jpg" alt="">
            </div>
            <div class="video__title">Финалисты турнира по футболу посетили СШГЭС</div>
        </a>
    </div>    
</div>