<div class="side-content">
    <div class="teams">
        <div class="team">
            <div class="team__img">
                <img src="tmp/team-1.jpg" alt="">
            </div>
            <div class="team__title">Воткинская ГЭС</div>
            <a href="#" class="team__more">Состав команды</a>
        </div>
        <div class="team">
            <div class="team__img">
                <img src="tmp/team-2.jpg" alt="">
            </div>
            <div class="team__title">Кабардино-Балкарский филиал</div>
            <a href="#" class="team__more">Состав команды</a>
        </div>
        <div class="team">
            <div class="team__img">
                <img src="tmp/team-1.jpg" alt="">
            </div>
            <div class="team__title">Воткинская ГЭС</div>
            <a href="#" class="team__more">Состав команды</a>
        </div>
        <div class="team">
            <div class="team__img">
                <img src="tmp/team-2.jpg" alt="">
            </div>
            <div class="team__title">Кабардино-Балкарский филиал</div>
            <a href="#" class="team__more">Состав команды</a>
        </div>
        <div class="team">
            <div class="team__img">
                <img src="tmp/team-1.jpg" alt="">
            </div>
            <div class="team__title">Воткинская ГЭС</div>
            <a href="#" class="team__more">Состав команды</a>
        </div>
        <div class="team">
            <div class="team__img">
                <img src="tmp/team-2.jpg" alt="">
            </div>
            <div class="team__title">Кабардино-Балкарский филиал</div>
            <a href="#" class="team__more">Состав команды</a>
        </div>

    </div>

</div>