<div class="side-content">
    <p>Мы проводим конкурс на лучший детский рисунок талисмана турнира «Спортивный бобер». Вы можете проголосовать за понравившийся Вам рисунок в нашей группе в <a href="#">Instagram</a>.</p>
    
    <div class="konkurs-list">
        <a href="#" class="konkurs-one">
            <img src="tmp/konkurs-img.jpg" alt="">
            <div class="konkurs-one__title"><i class="inst-icon"></i>Маша Иванова, г. Москва</div>
        </a>
        <a href="#" class="konkurs-one">
            <img src="tmp/konkurs-img.jpg" alt="">
            <div class="konkurs-one__title"><i class="inst-icon"></i>Маша Иванова, г. Москва</div>
        </a>
        <a href="#" class="konkurs-one">
            <img src="tmp/konkurs-img.jpg" alt="">
            <div class="konkurs-one__title"><i class="inst-icon"></i>Маша Иванова, г. Москва</div>
        </a>
        <a href="#" class="konkurs-one">
            <img src="tmp/konkurs-img.jpg" alt="">
            <div class="konkurs-one__title"><i class="inst-icon"></i>Маша Иванова, г. Москва</div>
        </a>
        <a href="#" class="konkurs-one">
            <img src="tmp/konkurs-img.jpg" alt="">
            <div class="konkurs-one__title"><i class="inst-icon"></i>Маша Иванова, г. Москва</div>
        </a>
        <a href="#" class="konkurs-one">
            <img src="tmp/konkurs-img.jpg" alt="">
            <div class="konkurs-one__title"><i class="inst-icon"></i>Маша Иванова, г. Москва</div>
        </a>
    </div>
</div>