<div class="side-content">
    <div class="photos">
        <a href="tmp/team-photo.jpg" title="Into The Blue" class="photo">
            <img src="tmp/photo-1.jpg" alt="">
            <div class="photo__title">Болельщики активно поддерживали нашу команду – кричали слоганы и энергично размахивали флагами</div>
        </a>
        <a href="tmp/team-photo.jpg" title="Into The Blue" class="photo">
            <img src="tmp/photo-2.jpg" alt="">
            <div class="photo__title">Игрок Интер РАО демонстрирует мастерство владения мячом.</div>
        </a>
        <a href="tmp/team-photo.jpg" title="Into The Blue" class="photo">
            <img src="tmp/photo-3.jpg" alt="">
            <div class="photo__title">Нам забили гол</div>
        </a>
        <a href="tmp/team-photo.jpg" title="Into The Blue" class="photo">
            <img src="tmp/photo-2.jpg" alt="">
            <div class="photo__title">Игрок Интер РАО демонстрирует мастерство владения мячом.</div>
        </a>
        <a href="tmp/team-photo.jpg" title="Into The Blue" class="photo">
            <img src="tmp/photo-1.jpg" alt="">
        </a>
        <a href="tmp/team-photo.jpg" title="Into The Blue" class="photo">
            <img src="tmp/photo-3.jpg" alt="">
        </a>
        <a href="tmp/team-photo.jpg" title="Into The Blue" class="photo">
            <img src="tmp/photo-1.jpg" alt="">
            <div class="photo__title">Болельщики активно поддерживали нашу команду – кричали слоганы и энергично размахивали флагами</div>
        </a>
        <a href="tmp/team-photo.jpg" title="Into The Blue" class="photo">
            <img src="tmp/photo-2.jpg" alt="">
            <div class="photo__title">Игрок Интер РАО демонстрирует мастерство владения мячом.</div>
        </a>
        <a href="tmp/team-photo.jpg" title="Into The Blue" class="photo">
            <img src="tmp/photo-3.jpg" alt="">
            <div class="photo__title">Нам забили гол</div>
        </a>
        <a href="tmp/team-photo.jpg" title="Into The Blue" class="photo">
            <img src="tmp/photo-2.jpg" alt="">
            <div class="photo__title">Игрок Интер РАО демонстрирует мастерство владения мячом.</div>
        </a>
        <a href="tmp/team-photo.jpg" title="Into The Blue" class="photo">
            <img src="tmp/photo-1.jpg" alt="">
        </a>
        <a href="tmp/team-photo.jpg" title="Into The Blue" class="photo">
            <img src="tmp/photo-3.jpg" alt="">
        </a>
    </div>
</div>