<div class="wrap">
    <div class="top-slider">
        <div class="tabs">
            <div class="tab-list">
                <div class="tab-select match-anonse active">
                    последние игры
                </div>
                <div class="tab-select match-anonse">
                    ближайшие игры
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-one" >
                    <div class="match-list">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="match-one">
                                    <div class="match-one__date">23 августа  12:00</div>
                                    <div class="match-one__comand">Дагестанский филиал</div>
                                    <div class="match-one__vs">2 - 1</div>
                                    <div class="match-one__comand">Каскад Кубанских ГЭС</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="match-one">
                                    <div class="match-one__date">23 августа  12:00</div>
                                    <div class="match-one__comand">Кабардино-Балкарский филиал</div>
                                    <div class="match-one__vs">4 - 1</div>
                                    <div class="match-one__comand">Северо-Осетинский филиал</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="match-one">
                                    <div class="match-one__date">23 августа  12:00</div>
                                    <div class="match-one__comand">Новосибирская ГЭС</div>
                                    <div class="match-one__vs">0 - 3</div>
                                    <div class="match-one__comand">Саяно-Шушенская ГЭС</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="match-one">
                                    <div class="match-one__date">23 августа  12:00</div>
                                    <div class="match-one__comand">Дагестанский филиал</div>
                                    <div class="match-one__vs">2 - 1</div>
                                    <div class="match-one__comand">Каскад Кубанских ГЭС</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="match-one">
                                    <div class="match-one__date">23 августа  12:00</div>
                                    <div class="match-one__comand">Кабардино-Балкарский филиал</div>
                                    <div class="match-one__vs">4 - 1</div>
                                    <div class="match-one__comand">Северо-Осетинский филиал</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="match-one">
                                    <div class="match-one__date">23 августа  12:00</div>
                                    <div class="match-one__comand">Новосибирская ГЭС</div>
                                    <div class="match-one__vs">0 - 3</div>
                                    <div class="match-one__comand">Саяно-Шушенская ГЭС</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="tab-one">
                    <div class="match-list">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="match-one">
                                    <div class="match-one__date">23 августа  12:00</div>
                                    <div class="match-one__comand">Дагестанский филиал</div>
                                    <div class="match-one__vs">VS</div>
                                    <div class="match-one__comand">Каскад Кубанских ГЭС</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="match-one">
                                    <div class="match-one__date">23 августа  12:00</div>
                                    <div class="match-one__comand">Кабардино-Балкарский филиал</div>
                                    <div class="match-one__vs">VS</div>
                                    <div class="match-one__comand">Северо-Осетинский филиал</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="match-one">
                                    <div class="match-one__date">23 августа  12:00</div>
                                    <div class="match-one__comand">Новосибирская ГЭС</div>
                                    <div class="match-one__vs">VS</div>
                                    <div class="match-one__comand">Саяно-Шушенская ГЭС</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="match-one">
                                    <div class="match-one__date">23 августа  12:00</div>
                                    <div class="match-one__comand">Дагестанский филиал</div>
                                    <div class="match-one__vs">VS</div>
                                    <div class="match-one__comand">Каскад Кубанских ГЭС</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="match-one">
                                    <div class="match-one__date">23 августа  12:00</div>
                                    <div class="match-one__comand">Кабардино-Балкарский филиал</div>
                                    <div class="match-one__vs">VS</div>
                                    <div class="match-one__comand">Северо-Осетинский филиал</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="match-one">
                                    <div class="match-one__date">23 августа  12:00</div>
                                    <div class="match-one__comand">Новосибирская ГЭС</div>
                                    <div class="match-one__vs">VS</div>
                                    <div class="match-one__comand">Саяно-Шушенская ГЭС</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>