<div class="side-content">
    <div class="table-one">
        <div class="block-top">
            <div class="block-top__title">Группа А</div>
            <div class="block-top__subtitle">Даты проведения игр: <span>7-8 сентября 2017</span></div>
        </div>
        <table class="table">
            <tr>
                <th></th>
                <th>Команда <span>подгруппы А</span></th>
                <th class="game">1</th>
                <th class="game">2</th>
                <th class="game">3</th>
                <th>И</th>
                <th>В</th>
                <th>П</th>
                <th>Н</th>
                <th>З:П</th>
                <th>О</th>
            </tr>
            <tr>
                <td>1</td>
                <td><a href="#">Загорская ГАЭС</a></td>
                <td><i class="stub"></i></td>
                <td class="score">- : -</td>
                <td class="score">0 : 0</td>
                <td>5</td>
                <td>2</td>
                <td>2</td>
                <td>1</td>
                <td>9 : 2</td>
                <td>10</td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="#">Кабардино-Балкарский филиал</a></td>
                <td class="score">- : -</td>
                <td class="score"><i class="stub"></i></td>
                <td class="score">0 : 0</td>
                <td>5</td>
                <td>3</td>
                <td>1</td>
                <td>2</td>
                <td>4 : 14</td>
                <td>10</td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="#">Северо-Осетинский филиал</a></td>
                <td class="score">- : -</td>
                <td class="score">0 : 0</td>
                <td class="score"><i class="stub"></i></td>
                <td>5</td>
                <td>3</td>
                <td>1</td>
                <td>2</td>
                <td>4 : 14</td>
                <td>10</td>
            </tr>
            <tr>
                <th></th>
                <th>Команда <span>подгруппы А</span></th>
                <th class="game">1</th>
                <th class="game">2</th>
                <th class="game">3</th>
                <th>И</th>
                <th>В</th>
                <th>П</th>
                <th>Н</th>
                <th>З:П</th>
                <th>О</th>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="#">Загорская ГАЭС</a></td>
                <td><i class="stub"></i></td>
                <td class="score">- : -</td>
                <td class="score">0 : 0</td>
                <td>5</td>
                <td>2</td>
                <td>2</td>
                <td>1</td>
                <td>9 : 2</td>
                <td>10</td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="#">Кабардино-Балкарский филиал</a></td>
                <td class="score">- : -</td>
                <td class="score"><i class="stub"></i></td>
                <td class="score">0 : 0</td>
                <td>5</td>
                <td>3</td>
                <td>1</td>
                <td>2</td>
                <td>4 : 14</td>
                <td>10</td>
            </tr>
            <tr>
                <td>6</td>
                <td><a href="#">Северо-Осетинский филиал</a></td>
                <td class="score">- : -</td>
                <td class="score">0 : 0</td>
                <td class="score"><i class="stub"></i></td>
                <td>5</td>
                <td>3</td>
                <td>1</td>
                <td>2</td>
                <td>4 : 14</td>
                <td>10</td>
            </tr>
        </table>
        <table class="table table--playoff">
            <tr>
                <th>Полуфинал</th>
                <th>Финал</th>
            </tr>
        </table>
        <div class="playoff">
            <div class="playoff-one" id="playoff-1">
                <div class="playoff-team playoff-team--winner">
                    <div class="playoff__title">
                        <a href="#">Северо-Осетинский филиал</a>
                    </div>
                    <div class="playoff__score"> 
                        8
                    </div>
                </div>
                <div class="playoff-team">
                    <div class="playoff__title">
                        <a href="#">ДРСК</a>
                    </div>
                    <div class="playoff__score">
                        2
                    </div>    
                </div>
            </div>

            <div class="playoff-one" id="playoff-2">
                <div class="playoff-team playoff-team--winner">
                    <div class="playoff__title">
                        <a href="#">Северо-Осетинский филиал</a>
                    </div>
                    <div class="playoff__score"> 
                        8
                    </div>
                </div>
                <div class="playoff-team">
                    <div class="playoff__title">
                        <a href="#">ДРСК</a>
                    </div>
                    <div class="playoff__score">
                        2
                    </div>    
                </div>
            </div>
            
            <div class="playoff-one" id="playoff-3">
                <div class="playoff-one__title">матч за 3 место</div>
                <div class="playoff-team playoff-team--winner">
                    <div class="playoff__title">
                        <a href="#">Северо-Осетинский филиал</a>
                    </div>
                    <div class="playoff__score"> 
                        8
                    </div>
                </div>
                <div class="playoff-team">
                    <div class="playoff__title">
                        <a href="#">ДРСК</a>
                    </div>
                    <div class="playoff__score">
                        2
                    </div>    
                </div>
            </div>

            <div class="playoff-one" id="final">
                <div class="playoff-team playoff-team--winner">
                    <div class="playoff__title">
                        <a href="#">Северо-Осетинский филиал</a>
                    </div>
                    <div class="playoff__score"> 
                        8
                    </div>
                </div>
                <div class="playoff-team">
                    <div class="playoff__title">
                        <a href="#">ДРСК</a>
                    </div>
                    <div class="playoff__score">
                        2
                    </div>    
                </div>
            </div>
        </div>
         <table class="table table--playoff">
            <tr>
                <th>Мачт за 5-6 место</th>
                <th></th>
            </tr>
        </table>
        <div class="playoff playoff--56">
            <div class="playoff-one" id="playoff-5">
                <div class="playoff-team playoff-team--winner">
                    <div class="playoff__title">
                        <a href="#">Северо-Осетинский филиал</a>
                    </div>
                    <div class="playoff__score"> 
                        8
                    </div>
                </div>
                <div class="playoff-team">
                    <div class="playoff__title">
                        <a href="#">ДРСК</a>
                    </div>
                    <div class="playoff__score">
                        2
                    </div>    
                </div>
            </div>

            
        </div>
        <div class="table-bottom">
            <div class="best-player">
                <div class="best-player__position">Лучший игрок</div>
                <div class="best-player__name">Петров Иван Иванович</div>
            </div>
            <div class="best-player">
                <div class="best-player__position">Лучший вратарь</div>
                <div class="best-player__name">Петров Иван Иванович</div>
            </div>
            <div class="best-player">
                <div class="best-player__position">Лучший бомбардир</div>
                <div class="best-player__name">Петров Иван Иванович</div>
            </div>
        </div>
    </div>
    
</div>