<div class="side-content">
    <div class="news-list">
        <div class="news-one">
            <div class="news-list__date">30 сентября 2017</div>
            <a class="news-list__title" href="#">Команда ОАО «Турборемонт-ВКК» стала обладателем Кубка Председателя Правления РусГидро</a>

            <div class="news-list__text">Завершились финальные состязания в рамках Турнира по футболу на Кубок Председателя Правления ОАО «РусГидро».</div>
        </div>
        <div class="news-one">
            <div class="news-list__date">30 сентября 2017</div>
            <a class="news-list__title" href="#">Команда ОАО «Турборемонт-ВКК» стала обладателем Кубка Председателя Правления РусГидро</a>

            <div class="news-list__text">Завершились финальные состязания в рамках Турнира по футболу на Кубок Председателя Правления ОАО «РусГидро».</div>
        </div>
        <div class="news-one">
            <div class="news-list__date">30 сентября 2017</div>
            <a class="news-list__title" href="#">Команда ОАО «Турборемонт-ВКК» стала обладателем Кубка Председателя Правления РусГидро</a>

            <div class="news-list__text">Завершились финальные состязания в рамках Турнира по футболу на Кубок Председателя Правления ОАО «РусГидро».</div>
        </div>
        <div class="news-one">
            <div class="news-list__date">30 сентября 2017</div>
            <a class="news-list__title" href="#">Команда ОАО «Турборемонт-ВКК» стала обладателем Кубка Председателя Правления РусГидро</a>

            <div class="news-list__text">Завершились финальные состязания в рамках Турнира по футболу на Кубок Председателя Правления ОАО «РусГидро».</div>
        </div>
        <div class="news-one">
            <div class="news-list__date">30 сентября 2017</div>
            <a class="news-list__title" href="#">Команда ОАО «Турборемонт-ВКК» стала обладателем Кубка Председателя Правления РусГидро</a>

            <div class="news-list__text">Завершились финальные состязания в рамках Турнира по футболу на Кубок Председателя Правления ОАО «РусГидро».</div>
        </div>
    </div>
    <div class="pagination">
        <a href="#" class="curr">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>

    </div>
</div>